#font {
  // width: 50%;
  height: 40px;
  padding: 8px;
}

.select-font {
  margin: 20px 0;
}

.medium-font {
  font-size: 16px;
}

.Arial {
  font-family: "Arial";
}

.Verdana {
  font-family: "Verdana";
}
.Georgia {
  font-family: "Georgia";
}
.Courier {
  font-family: "Courier";
}
.ComicSansMS {
  font-family: "Comic Sans MS";
}
.Impact {
  font-family: "Impact";
}
.Monaco {
  font-family: "Monaco";
}
.PalatinoLinotype {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.TimesNewRoman {
  font-family: "Times New Roman", Times, serif;
}
.LucidaSansUnicode {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.TrebuchetMS {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
